.footer {
  max-width: 166px;
  max-height: 16px;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

.footer__text {
  max-width: 166px;
  max-height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    margin-top: 64px;
  }
}
