.header {
  max-width: 254px;
  max-height: 70px;
  margin: auto;
  margin-top: 34px;
  text-align: center;
}

.header__logo {
  max-width: 32px;
  max-height: 32px;
}

.header__title {
  max-width: 254px;
  max-height: 15px;
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 188px;
    max-height: 52px;
  }

  .header__logo {
    max-width: 23px;
    max-height: 23px;
  }

  .header__title {
    max-width: 188px;
    max-height: 11px;
  }
}
