.intro {
  max-width: 830px;
  margin-left: 148px;
  text-align: left;
  margin-top: 92px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 40px;
}

.intro__person {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin-top: 10px;
}

.intro__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 32px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin-left: 24px;
    margin-top: 90px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
  }

  .intro__subtitle {
    margin-top: 50px;
  }

  .intro__content {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 288px;
    margin-left: 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
  }

  .intro__subtitle {
    line-height: 30px;
    margin-top: 40px;
  }

  .intro__person {
    line-height: 34px;
    margin-top: 10px;
  }

  .intro__content {
    line-height: 163%;
    margin-top: 32px;
  }
}
