.places {
  max-width: 984px;
  margin: auto;
  margin-top: 92px;
}

.places__place {
  max-width: 984px;
  max-height: 832px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image paragraph"
    "buttom paragraph";
}

.place__title {
  max-width: 460px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: title;
  text-align: left;
  margin: 0;
}

.places__image {
  max-width: 460px;
  max-height: 460px;
  grid-area: image;
  margin-top: 48px;
}

.button {
  width: 356px;
  height: 48px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-top: 48px;
}

.place__website {
  max-width: 456px;
  color: #aaaaaa;
  grid-area: website;
  text-align: left;
}

.website__heading {
  max-width: 85.17px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
}

.website__artist {
  width: 456px;
  max-height: 22px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.paragraph {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-top: 48px;
  grid-area: paragraph;
  text-align: left;
}
.website__paragraph-one {
  max-width: 484px;
  max-height: 203px;
}

.website__paragraph-two {
  max-width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-top: 25px;
}
